Repository R0kkxSynetique/Droxid, pull requests merged in 2021-12, with the labels that each got.

#18 Layout and data display
  DataBase/DBCreator.sql
  DataBase/DBDataGenerator.sql
  DataBase/DROXID.mwb
  DataBase/FullDataBase.sql
  Droxid/Droxid.sln
  Droxid/Droxid/App.xaml
  Droxid/Droxid/App.xaml.cs
  Droxid/Droxid/AssemblyInfo.cs
  Droxid/Droxid/DBManager/DBManager.cs
  Droxid/Droxid/Droxid.csproj
  Droxid/Droxid/MainWindow.xaml
  Droxid/Droxid/MainWindow.xaml.cs
  Droxid/Droxid/Model/Channel.cs
  Droxid/Droxid/Model/Guild.cs
  Droxid/Droxid/Model/User.cs
  Droxid/Droxid/Models/Channel.cs
  Droxid/Droxid/Models/Guild.cs
  Droxid/Droxid/Models/Message.cs
  Droxid/Droxid/Models/Permission.cs
  Droxid/Droxid/Models/Role.cs
  Droxid/Droxid/Models/User.cs
  Droxid/Droxid/Styles/MainWindow.xaml
  Droxid/Droxid/ViewModel/UserViewModel.cs
  Droxid/Droxid/ViewModels/MainWindowViewModel.cs
  Droxid/Droxid/ViewModels/UserViewModel.cs
  Droxid/DroxidCLI/DroxidCLI.csproj
  Droxid/DroxidCLI/Program.cs
  Droxid/DroxidClient/DBManager/DBManager.cs
  Droxid/DroxidClient/Droxid.csproj
  Droxid/DroxidClient/DummyData/MainWindowTestData.cs
  Droxid/DroxidClient/MainWindow.xaml
  Droxid/DroxidClient/MainWindow.xaml.cs
  Droxid/DroxidClient/Models/Channel.cs
  Droxid/DroxidClient/Models/Guild.cs
  Droxid/DroxidClient/Models/Message.cs
  Droxid/DroxidClient/Models/Permission.cs
  Droxid/DroxidClient/Models/Role.cs
  Droxid/DroxidClient/Models/User.cs
  Droxid/DroxidClient/Styles/SideBar.xaml
  Droxid/DroxidClient/ViewModels/UserViewModel.cs
  Droxid/DroxidGUI/DroxidGUI.csproj
  Droxid/DroxidGUI/Form1.Designer.cs
  Droxid/DroxidGUI/Form1.cs
  Droxid/DroxidGUI/Form1.resx
  Droxid/DroxidGUI/Program.cs
Labels: Model, View, ViewModel, class, manager

#28 Send messages
  Droxid/Droxid/MainWindow.xaml
  Droxid/Droxid/MainWindow.xaml.cs
  Droxid/Droxid/Models/Channel.cs
  Droxid/Droxid/ViewModels/MainWindowViewModel.cs
Labels: Model, View, ViewModel

#29 Data refresh
  Droxid/Droxid.sln
  Droxid/Droxid/MainWindow.xaml.cs
  Droxid/Droxid/Models/Channel.cs
  Droxid/Droxid/Models/Guild.cs
  Droxid/Droxid/Models/Message.cs
  Droxid/Droxid/Models/Model.cs
  Droxid/Droxid/Models/Permission.cs
  Droxid/Droxid/Models/Role.cs
  Droxid/Droxid/Models/User.cs
  Droxid/Droxid/ViewModels/MainWindowViewModel.cs
Labels: Model, ViewModel
